body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    background-color: rgb(67, 150, 156) !important;
    color: white !important;

    font-family: 'Times New Roman', Times, serif;
} 

/* --------------------- TEXT --------------------- */

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: wheat;
}

h1{
    font-size: 6rem;
    font-family: 'Cardo', serif;
}

h2{
    font-size: 5rem;
    font-weight: 400;
}

h4{
    color: white;
    font-size: 3rem;
    font-family: 'Allura', cursive;
}

h6{
    font-size: 1rem;
}

/* ---------------------------- IMAGES ---------------------------- */

img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover !important;    /* to fit and fill the parent box with the image without distorting/ maintains the image aspect ratio */
}

/* --------------------- NAVBAR --------------------- */

nav{  
    float: right;
}

nav a{
    margin: 0 0 0 20px;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.NavSingle{
    display: inline;
}

/* --------------------- HEADER --------------------- */

header{
    background-color: rgb(67, 150, 156);
    width: 100%;
    height: 120px;
    padding: 3% 18px 3% 1px;
}

header h4{
    float: left;
}

/* --------------------- FOOTER --------------------- */

footer{
    /* position: absolute;
    bottom: 0; */
    text-align: center;
    width: 100%;
    padding: 3px 2px 0;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

/* --------------------- GREETING --------------------- */

.Greeting{
    background-image: url('/Applications/Sandali/CollegeProjects/HotelManagementSystem/client/public/Images/mainbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.Row{
    padding: 0;
    margin: 0;
    height: 274px;
}

.Col{
    padding: 0;
    height: 100%;
}  

.WhiteBox {
    text-align: center;
    border: 15px solid white;
    padding: 0;
    margin: 0;
    /* height: 500px; */
    width: 810px;

    background-color: rgb(94, 174, 188);

    position: absolute;
    top: 10%;
    left: 12%;

    z-index: 1;
}

.WhiteBox h1{
    margin: 0;
    padding: 0;
}

.WhiteBox img{
    /* border: 3px solid red; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover !important; 
}

.CircleImg{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 42%;
    z-index: 0;

    filter: brightness(-1), contrast(-2), saturate(3);
}

/* --------------------- EXPLORE --------------------- */

.ExploreCards img{
    height: 300px;
    width: 400px;
    margin-bottom: 30px;
}

/* .ExploreCards h3{

} */

/* ---------------------------- ALLIGNMENTS ---------------------------- */

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Relative{
    position: relative;
}

